<!DOCTYPE html>
<html>
<head>
    <title>Upload your files</title>
</head>
<body>
    <h1>Upload your image and resume</h1>
    
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="resume">Resume:</label>
        <input type="file" name="resume" id="resume" />
        <br>
        <label for="image">Image:</label>
        <input type="file" name="image" id="image" />
        <br>
        <input type="submit" value="Upload" />
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</body>
</html>
